@import "https://fonts.googleapis.com/css?family=Roboto+Mono:400,900";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body,
html {
  min-height: 100vh;
}

body {
  --shadow-color: rgba(0, 0, 0, 0.14);
  --default-radius: 10px;
  --main-text-color: rgba(0, 0, 0, 0.84);

  background: #fafafa;
  color: var(var(--main-text-color));
  font-family: "Roboto Mono";
  margin: 0;
  font-size: 18px;
}

#intro {
  user-select: none;
  cursor: pointer;
}

#to-top {
  opacity: 0;
  transform: scale(0);
  transition: all 0.185s;
}

#to-top.active {
  opacity: 1;
  transform: scale(1);
}

.experience-list > li > div {
  align-items: center;
}

.experience-list > li > div .icon {
  margin: 0 0.5em;
}

.content .experience-list li + li {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 3px dashed;
}

.is-fab {
  background-color: whitesmoke;
  color: var(--main-text-color);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 3px 5px var(--shadow-color), 3px 0 5px var(--shadow-color),
    -3px 0 5px var(--shadow-color);

  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 0.5em;

  line-height: calc(64px - 0.5em);
  height: 64px;
  width: 64px;

  text-align: center;
}

.is-deep-purple {
  background-color: #673ab7;
  color: white;
}

.hero.is-deep-purple {
  background-color: #673ab7;
}

.hero.is-deep-purple .title,
.hero.is-deep-purple .subtitle {
  color: white;
}

.hero.is-bold.is-deep-purple {
  background: linear-gradient(141deg, #673ab7 0, #764dbe 71%, #8561c5 100%);
  color: white;
}

.content .work-info p {
  margin-bottom: 0;
}

.work-info .divider {
  display: none;
}

.work-info .place {
  font-weight: bold;
}

.welcome {
  letter-spacing: 1rem;
}

@media screen and (max-width: 768px) {
  .content ul {
    list-style: none;
    margin-left: 0;
  }

  .work-info .icon {
    display: none;
  }

  .work-info .divider {
    display: inline;
  }

  .content .work-info .date {
    margin-bottom: 0.5em;
  }
}
